.notesWrapper{
    width: 100%; 
    transition: 0.4s ease-in-out;
}

.notes {
    background-color: var(--dark-gray);
    box-sizing: border-box;
    overflow: hidden;
    width: 100%; 
}

.up {
    border: gray 1px solid;
    border-radius: 16px 16px 0 0;
    border-bottom: none;
    width: 100%; 
    max-height: 90px;
}

.middle{
    border: gray 1px solid;
    border-top: none;
    border-bottom: none;
    overflow: none; 
    height: 100%; 
    width: 100%; 
}

.down{
    border: gray 1px solid;
    border-radius: 0 0 16px 16px;
    border-top: none;
    width: 100%; 
}

.large {
    height: 100%;
}

.small {
    height: 50%;
}

.page {
    height: 84vh;
    margin: 1vw 2vw; 
    border-radius: 16px;
    border: 1px solid gray;
    overflow-y: hidden;
}

.top{
    display: flex;
    background-color: #FDC801; 
    height: 24px; 
    border-radius: 16px 16px 0 0 ;
    padding-right: 8px;
}

.topBorder{
    border-top: dotted 2px;
    border-bottom: none; 
    margin: 1rem 0 1rem 0 ;
}

.editBtn{
    background-color: transparent;
    line-height: 0;
    margin-left: 8px;
    border-radius: 16px;
    border:none; 
}

.notesBorder{
    margin: 0.5rem 0 0.5rem 0; 
    border: 0.5px solid gray; 
}