.title{
    color: #1AADF8; 
}

.num{
    font-size: 13px;
    color: #9B9B9A; 
    font-weight: 600;
}

.notesWrapper{
    width: 100%; 
}

.notes {
    background-color: var(--dark-gray);
    box-sizing: border-box;
    overflow: hidden;
}

.up {
    border: gray 1px solid;
    border-radius: 16px 16px 0 0;
    border-bottom: none;
}

.middle{
    border: gray 1px solid;
    border-top: none;
    border-bottom: none;
    overflow: auto; 
    height: 100%; 
}

.down{
    border: gray 1px solid;
    border-radius: 0 0 16px 16px;
    border-top: none;
}

.large {
    height: 100%;
}

.small {
    height: 50%;
}

.page {
    height: 84vh;
    margin: 1vw 2vw; 
    border-radius: 16px;
    border: 1px solid gray;
}

.top{
    display: flex;
    height: 24px; 
    border-radius: 16px 16px 0 0 ;
    padding-right: 8px;
}

.topBorder{
    border-top: dotted 2px;
    border-bottom: none; 
    margin: 1rem 0 1rem 0 ;
}

.editBtn{
    background-color: transparent;
    line-height: 0;
    margin-left: 8px;
    border-radius: 16px;
    border:none; 
}

.notesBorder{
    margin: 0.5rem 0 0.5rem 0; 
    border: 0.5px solid gray; 
}

.checkBtn{
    height: 15px;
    width: 15px; 
    border-radius: 16px;
    border: 1px dashed white; 
    margin-right: 8px;
    background: none;
}