.notesWrapper{
    width: 100%; 
    transition: 0.4s ease-in-out;
}

.notes {
    background-color: var(--dark-gray);
    box-sizing: border-box;
    overflow: hidden;
}

.up {
    border: gray 1px solid;
    border-radius: 16px 16px 0 0;
    border-bottom: none;
    max-height: 72px;
}

.middle{
    border: gray 1px solid;
    border-top: none;
    border-bottom: none;
    overflow: auto; 
    padding: 0 1vw; 
    height: 100%; 
    width: 100%; 
}

.down{
    border: gray 1px solid;
    border-radius: 0 0 16px 16px;
    border-top: none;
}

.large {
    height: 100%;
}

.small {
    height: 50%;
}

.page {
    height: 84vh;
    margin: 1vw 2vw; 
    border-radius: 16px;
    border: 1px solid gray;
}

.top{
    display: flex;
    height: 24px; 
    border-radius: 16px 16px 0 0 ;
    padding-right: 8px;
}

.time{
    font-size: 24px;
    font-weight: 400;
}

.des{
    color: lightgray; 
    font-size: 14px;
    margin-top: 4px; 
}

.editBtn{
    background-color: transparent;
    line-height: 0;
    margin-left: 8px;
    border-radius: 16px;
    border:none; 
}

.notesBorder{
    margin: 0.5rem 0 0.5rem 0; 
    border: 0.5px solid gray; 
}