/* CSS */
.switch {
position: relative;
display: inline-block;
width: 51px;
height: 31px;
align-self: end;
border-radius: 15px;
background-color: var(--button-gray);
}

.son{
background-color:var(--button-green); /* Green when checked */
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.on:before {
position: absolute;
content: "";
height: 28px;
width: 28px;
left: 21px; /* aligned right */
bottom: 2px;
background-color: white;
border-radius: 50%;
transition: 0.4s;
}

.off:before{
position: absolute;
content: "";
height: 28px;
width: 28px;
left: 2px; /* aligned right */
bottom: 2px;
background-color: white;
border-radius: 50%;
transition: 0.4s;
}