.main{
  max-height: 100vh;
  padding: 3rem; 
  background-color: white; 

}

.genAI{
  width: 330px;
  height: fit-content;
  margin-left: 13px;
  background-color: #2D2E2D;
  border-radius: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(45,45,45,.90);
  border: 1px solid #484847;
  padding: 20px; 
  box-sizing: border-box; 
}

.form{
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
  
  /* This bit draws the box around it */

  width: 274px; 
  /* max-height: 48px; */
  border-radius: 18px;
  border: 1px solid rgb(103, 103, 103);
  margin-top: 20px;

  align-items: center; /* Vertical alignment */
  height: 20px; /* Example height */
  width: 300px; /* Example width */
  padding: 8px 0 8px 0px; /* Remove any padding for precise alignment */
}

.form textarea{
  font-size: 14px;
  color: white; 
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  white-space: normal;
  caret-color: #0A84FF;
  overflow: hidden; /* Prevent scrolling */
}

.rForm {
   /* This bit sets up the horizontal layout */
   display:flex;
   flex-direction:row;
   
   /* This bit draws the box around it */
   /* max-height: 48px; */
   border-radius: 18px;
   border: 1px solid rgb(103, 103, 103);
 
   align-items: center; /* Vertical alignment */
   height: 20px; /* Example height */
   padding: 8px 0 8px 0px; /* Remove any padding for precise alignment */
   margin: 8px; 
}

.rForm textarea{
  font-size: 14px;
  color: white; 
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  white-space: normal;
  caret-color: #0A84FF;
  overflow: hidden; /* Prevent scrolling */
}

.prompt{
   /* Tell the input to use all the available space */
   flex-grow:2;
   /* And hide the input's outline, so the form looks like the outline */
   border:none;
   background-color: transparent;
   padding: 0px 0px 0px 12px;
   height: 100%; 
   resize: none; 
   color: white; 
}

.prompt:focus{
  border-color: none; 
  outline: none;
}

.context{
  margin-top: 16px; 
}

.editBtn{
  background-color: transparent;
  line-height: 0;
  margin-left: 8px;
  border-radius: 16px;
  border:none; 
}

.context input{
  height: 28px; 
  width: 100%; 
  margin-top: 8px; 
  background-color: #161D25;
  outline: none; 
  border: 1px solid white; 
  border-radius: 4px;
  padding: 16px 8px; 
  font-family: "Inter";
  font-size: 12px; 
}

.warning {
  border: 2px solid red; 
  width: 300px; 
  background-color: white; 
  padding: 8px; 
  font-family: 'Inter', Times, serif;
}

.warning input{
  width: 100%; 
  padding: 0 8px; 
  height: 24px; 
  margin-top: 4px;
  background-color: white;
  outline: none; 
  border: 1px solid black;
  color: black; 
  font-family: 'Inter', Times, serif;
  font-size: 12px;

}

.warning div{
  margin-top: 8px;
}

.btnInspo{
  color: white; 
  background: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px;
  display: block; 
  width: 100%; 
  text-align: left;
  margin-top: 8px;
}

.upload{
  text-align: center;
  width: 28px; 
  height: 28px; 
  border: none; 
  outline: none; 
  border-radius: 40px; 
  background-color: transparent;
  opacity: 50%; 
  margin-right: 8px;
}

.uploadActive{
  opacity: 100%; 
  background-color: #0A84FF;
}

.uploadActive:hover{
  opacity: 50%;
}

.pEvent{
  color: white; 
  font-size: 12px;
}

.pContext{
  margin-top: 4px;
  color: #B3B3B3; 
  font-size: 11px;

}

.dropdown{
  margin-top: 16px; 
  border-radius: 0 0 4px 4px;
  background-color: #161D25;
}

.inputWrapper { 
  position: relative; 
  display: inline-block; 
  margin-top: 8px;
} 

.node{
  border-bottom: 1px solid gray; 
  margin: 20px 0 20px 0; 
  padding-bottom: 20px;
  color: white; 
}

.result{
  margin-top: 20px;
  padding: 20px 10px 20px 20px; 
  background-color: rgba(45,45,45,.90);
  border: 1px solid #484847;
  border-radius: 16px;
  opacity: 95%;
  box-sizing: border-box;
  width: 330px; 
}

.button{
  width: 47%; 
  border:none; 
  border-radius: 5px;
  padding: 8px 7px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
}

.cancel{
  width: 49%; 
  background-color: #9E9EA3;
}

.save{
  width: 49%; 
  background-color: #0A84FF;
}